:root{
    --main-font:Playfair Display;
    --main-text-color:#707070;
    --main-background-color:rgba(117, 187, 167, 0.14);
}

a{
  color:var(--main-text-color)
}

a:hover{
  color:#6c809a;
  text-decoration: none;
  font-weight: bolder;
}

.bottom-bar{
  margin-top: 20px;
 }

.logo{
  position:relative;
  bottom:30px;
  z-index:1;
  width:70px;
  height:90px;
  object-fit: contain;
  }


h1,p{
    font-family:var(--main-font);
    color:var(--main-text-color);
    position: relative;
    right:40px;
   }
 
 h1{
    font-size: 1.4rem;
 }
 
p{
    font-size: 0.7rem;
    position: relative;
    bottom:10px;
   }

header{
    color:var(--main-text-color);
    font-family: var(--main-font);
   }

.sign-in-box{
    background-color:var(--main-background-color);
    width:100px;
    height:40px;
    padding-top: 4px;
    padding-right: 8px;
    border-radius: 20px;
    cursor: pointer;
    border: solid #707070 0.3px;
 }
 
.user-avatar{
    color:#fff;
    background-color: green;
    border-radius: 50%;
    display:flex;
    margin-left: 65px;
    height:30px;
    width:30px;
    padding-left:9px;
    font-size: 1.2rem;
 }

 .member-dropdown{
  border-radius: 10px;
  position: absolute;
  top:40px;
  width:150px;
  z-index: 9999999999999999;
  display:none;
  background-color: #fff;
  overflow: hidden;
}

ul{
  padding:0;
}

li{
  margin:20px;
  list-style-type:none;
}

.sign-in-box:hover .user-avatar{
  position: relative;
  right:62px;
}

.sign-in-box:hover .member-dropdown{
  animation: fade-in 1s;
  display: block;
}

@keyframes fade-in{
  0%{
     height:10px;
  }

  100%{
     height:200px;
  }
}

/* home page styles */

.location-date-number-filter{
  background-color:var(--main-background-color);
  height:50px;
  width:670px;
  border-radius: 25px;
  margin-top: 10px;
  border: solid #707070 0.3px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

/* .location-date-number-filter:hover{
  background-color: #fff;
} */


input{
  border: none;
  outline: none;
  background-color: transparent;
  height:45px;
  margin:2px;
  border-radius: 25px;
}

input:hover{
  background-color: #fff;
}

input[type="text"]{
  width: 150px;
}

/* input[type="date"]{
  appearance: none;
} */

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.half-hero{
  height:70vh;
  width:38vw;
  opacity: 0.7;
  border-radius: 10px;
  margin-top: 30px;
  position:sticky;
  top:30px;
}

.hero-message{
  background-color: rgba(112, 112, 112, 0.3);
  color:#fff;
  position:absolute;
  top: 40%;
  text-align: center;
  border-radius: 10px;
  font-family: Playfair Display;
  width:500px;
  font-style: italic;
}

.hero-message h2{
  font-size: 3rem;
}

/* .hero-message h3{
  display: none;
} */
