{% extends "base.html" %}
{% load static %}

{% block base_filter %}
<div class="location-date-number-filter shadow">
    <form action="">
        <input type="text" placeholder="Location">
        <input type="text" placeholder="Check in" onfocus="(this.type='date')">
        <input type="text" placeholder="Check out" onfocus="(this.type='date')">
        <input type="number" placeholder="Guests">
    </form>
</div>
{% endblock %}

{% block extra_header %}
<!-- <div class="row lower-nav">
    <div class="col-6"></div>
    <div class="col-2"><a href="">Home</a></div>
    <div class="col-2"><a href="">Contact</a></div>
    <div class="col-2"></div>
</div> -->
{% endblock %}
{% block content%}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <a href="" class="location-box shadow" id="image-1" onmouseover="reveal()" onmouseout="hide()">
                            <h2 id="location-header" class="location-header">London</h2>
                        </a>
                        <div>
                        <h2 id="location-header-2" class="location-header-2 shadow">London</h2>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <a href="" class="location-box" id="image-2">
                            <h2 class="location-header shadow">Manchester</h2>
                        </a>
                    </div>
                    <div class="col-4">
                        <!-- <h2 style="color:#75BBA7; margin-top:50px;">Manchester</h2> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <a href="" class="location-box" id="image-3">
                            <h2 class="location-header shadow">Gateshead</h2>
                        </a>
                    </div>
                    <div class="col-4">
                        <!-- <h2 style="color:#75BBA7; margin-top:50px;">Gateshead</h2> -->
                    </div>
                </div>
            </div>
            <div class="col-3">  
               <div class="row">
                    <div class="primary-filter-info shadow">
                        <p>Find your perfect stay currently, <strong>{{ availability }}</strong> rentals are listed in London.</p> 
                    </div>
                </div>
                <div class="row">
                    <div class="primary-filter-info shadow">
                        <p>Find your perfect stay currently, <strong>{{ availability }}</strong> rentals are listed in Manchester.</p> 
                    </div>
                </div>
                <div class="row">
                    <div class="primary-filter-info shadow">
                        <p>Find your perfect stay currently, <strong>{{ availability }}</strong> rentals are listed in Gateshead.</p> 
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div id="half-hero">
                    <img src="{% static 'media/home-garden.jpg' %}" alt="hero image" class="half-hero" id="half-hero">
                    <div class="hero-message" id="hero-message">
                        <h2>Your perfect getaway</h2>
                        <h3 id="change">Unwind without compromise</h3>  
                    </div>
                </div>
                <img src="{% static 'media/map.png' %}" alt="" class="map-img" id="map-image">
                <img src="{% static 'media/location-pin.png' %}" alt="" class="location-pin" id="location-pin">
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    var subHeader = document.getElementById('location-header');
    var subHeader2 = document.getElementById('location-header-2');
    var locPin = document.getElementById('location-pin');
    var mapImage = document.getElementById('map-image');
    var hero = document.getElementById('half-hero');
    function reveal(){
        subHeader2.style.display="block";
        subHeader.style.display="none";
        locPin.style.display="block";
        mapImage.style.display="block";
        hero.style.display="none";
    }

    function hide(){
        subHeader2.style.display="none";
        subHeader.style.display="block";
        locPin.style.display="none";
    }

</script>
{% endblock %}