<div class="location-date-number-filter shadow">
    <form action="{ url 'home' }" method="POST">
        <input type="text" placeholder="Location">
        <input type="text" placeholder="Check in" id="datepicker-in">
        <input type="text" placeholder="Check out" id="datepicker-out">
        <!-- <input type="text" placeholder="Check in" onfocus="(this.type='date')"> -->
        <!-- <input type="text" placeholder="Check out" onfocus="(this.type='date')"> -->
        <input type="number" placeholder="Guests">
        <div class="search-icon" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </form>
</div>
