<div class="d-block d-lg-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <a href="{% url 'rentals' %}" class="location-box shadow" id="image-1">
                    <h2 id="location-header" class="location-header">London</h2>
                </a>
            </div>

            <div class="col-4">
                <a href="" class="location-box shadow" id="image-2">
                    <h2 id="location-header-manch" class="location-header shadow">Manchester</h2>
                </a>
            </div>

            <div class="col-4">
                <a href="" class="location-box shadow" id="image-3">
                    <h2 id="location-header-ghd" class="location-header shadow">Gateshead</h2>
                </a>
            </div>
        </div>
    </div>
</div>