{% extends "base.html" %}
{% load static %}

{% block extra_title %} - {{ rental.name }} {% endblock %}
{% block extra_class%} active{% endblock %}
{% block content%}
<div class="container-fluid picture-gallery">
    <div class="row">
        {% for i in rental.images.all %}
        <div class="col-6">
            <img src="{{ i.image.url }}" alt="{{ rental.name }}">
        </div>
        {% endfor %}
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 style="text-align: center;">{{ rental.name }}</h1>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                {% for i in rental.images.all|slice:":2" %}
                <div class="col-6">
                    <img src="{{ i.image.url }}" alt="{{ rental.name }}"
                    class="gallery-images {% if forloop.first %} gallery-image-left {% else %} gallery-image-right{% endif %}">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {{ rental.description }}
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}